@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nova Square', cursive;
}

body {
	font-family: sans-serif;
	color: white;
	background-color: rgb(29, 26, 26);
}

h1 {
	text-align: center;
	padding: 45px;
	margin-top: 3rem;
	color: #fff;
	font-size: 5.4rem;
}

button {
	font-size: 20px;
	padding: 13px;
	background-color: #ddd;
	border: 2px solid white;
	border-radius: 22px;
}

button:hover {
	cursor: pointer;
	transform: scale(1.04);
	transform: transform 200ms;
}

button[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 30px;
}

#main-nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 93%;
	gap: 30;
}

#main-nav button {
	width: 140px;
	padding: 5px;
}

#main-nav p {
	font-size: 22px;
}

#p0 {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 50px;
	margin: 90px 90px 0 90px;	
}

#p0 button{	
	width: 450px;
}

#final-page {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 50px;
}

#person {
	width: 360px;
}

#displayTable {
	padding: 10px;
	background-color: black;
}

#displayTable th {
	padding: 20px;
}

#displayTable td {
	padding: 20px;
}

.quiz-container {
	margin: 10px 70px 30px 70px;
	display: none;
}

.quiz-header {
	color: pink;
	padding: 50px;
}

.quiz-header h3 {
	font-size: 2rem;
}

.quiz-header p {
	margin: 30px 0px 50px;
}

.quiz-answer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: pink;
	padding: 50px;
}

.quiz-answer button {
	border-radius: 8px;
	padding: 10px;
}

#next {
	padding: 15px;
	float: right;
	margin: 0 70px 50px 0;
}

input {
	margin: 0.2rem;
	width: 20rem;
	padding: 1rem;
	font-size: 1.5rem;
	border: none;
	box-shadow: 0 0.1rem 1.4rem 0 rgb(88, 88, 88);
}

input::placeholder {
	color: #aaa;
}
